<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog </title>
</head>
<body>
  <div class="container">

    <h1 class="mb-4">Blog Articles Home Page</h1>


    <a href="/new" class="btn btn-success">Add a blog</a>
    <a href="/showall" class="btn btn-secondary">Get all the blogs</a>

    <div>
      <h1 class="mb-4"></h1>

      <form action="/search" method="POST">
                <div class="form-group">
                  <label for="idd">Get blog by id:</label>
                  <textarea required name="idd" id="idd" class="form-control"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Search</button>
      </form>
      <h1 class="mb-4"></h1>
      <form action="/delete" method="POST">
                <div class="form-group">
                  <label for="idd">Delete blog by id:</label>
                  <textarea required name="idd" id="idd" class="form-control"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Delete</button>
      </form>
      <h1 class="mb-4"></h1>
      <form action="/update" method="POST">
                <div class="form-group">
                  <label for="idd">Update blog by id:</label>
                  <textarea required name="idd" id="idd" class="form-control"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
      </form>

      <h1 class="mb-4"></h1>
      <form action="/addcomment" method="POST">
                <div class="form-group">
                  <label for="idd">Add comment on post by id:</label>
                  <textarea required name="idd" id="idd" class="form-control"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Click Here to add comment</button>
      </form>

      <h1 class="mb-4"></h1>
      <form action="/allcomment" method="POST">
                <div class="form-group">
                  <label for="idd">Enter id to get all comment on this post:</label>
                  <textarea required name="idd" id="idd" class="form-control"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Get all comments</button>
      </form>

    </div>

  </div>


</body>
</html>
